<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<table border="1px" class="table table-dark table-striped">
    <tr>
        <th>Mã Bài Báo</th>
        <th>Tên Bài Báo</th>
        <th>Ngày Phát Hành</th>
        <th>Nội Dung Chi Tiết Bài Báo</th>
    </tr>
    <tr th:each="article : ${list}">
        <td th:text="${article.idArticle}"></td>
        <td th:text="${article.nameArticle}"></td>
        <td th:text="${article.publicationDate}"></td>
        <td><a th:href="@{/content?idBaiBao=__${article.idArticle}__}">Bấm Vào Đây</a></td>

    </tr>
</table>
</body>
</html>