<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="doedit" method="post">
<table th:object="${article}" border="1px">
    <tr>
        <th>Mã Tác Giả</th>
        <th>Tên Tác Giả</th>
        <th>Mã Bài Báo</th>
        <th>Tên Bài Báo</th>
        <th>Ngày Phát Hành</th>
        <th>Nội Dung Bài Báo</th>
    </tr>
    <tr>
       <th><input th:field="*{author.idAuthor}" readonly></th>
       <th><input th:field="*{author.nameAuthor}"></th>
       <th><input th:field="*{idArticle}" readonly></th>
       <th><input th:field="*{nameArticle}"></th>
       <th><input th:field="*{publicationDate}"></th>
       <th><input th:field="*{content}"></th>
    </tr>
</table>
    <button type="submit">Thay Dổi</button>
    <input type="reset" value="Nhập lại">
</form>
</body>
</html>