<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>
<body>
<h1>Product Manager</h1>
<form action="search" method="post">
    <input type="text" name="codeSearch">
    <input type="submit" value="Search">
</form>
<a th:href="@{/create}">Create Product</a>
<p th:text="${msg}"></p>
<table border="1px">
    <tr>
        <th>Code Products</th>
        <th>Name Products</th>
        <th>Manufacturer</th>
        <th>Date</th>
        <th>Action</th>
        <th>Action</th>
        <th>Detail</th>
    </tr>
    <tr th:each="productDto : ${mapDto}">
        <td th:text="${productDto.codeProduct}"></td>
        <td th:text="${productDto.nameProduct}"></td>
        <td th:text="${productDto.manufacturer}"></td>
        <td th:text="${productDto.date}"></td>
        <td><a th:href="@{/delete/?codeproduct=__${productDto.getCodeProduct()}__}">delete</a></td>
        <td><a th:href="@{/edit/?codeproduct=__${productDto.getCodeProduct()}__}">edit</a></td>
        <td><a th:href="@{/detail/__${productDto.getCodeProduct()}__}">detail</a></td>
    </tr>

</table>

</body>
</html>